.center-content {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.center-content-space-between {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.primary-background {
    background-image: url('https://images.unsplash.com/photo-1520930528075-4ea5ead759f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.keyword-section {
    background: rgba(0,0,0,0.4);
    padding: 10px;
    margin-bottom: 15px;
}

h6 {
    color: white;
}

a {
    color:inherit;
    text-decoration: none;
}

.h-100 {
    height: 100vh;
}

.h-90 {
    height: 90vh;
}

.p-1 {
    padding: 0.5rem
}
.p-2 {
    padding: 1rem
}
.p-3 {
    padding: 1.5rem
}
.p-4 {
    padding: 2rem
}
.p-5 {
    padding: 2.5rem
}

.m-1 {
    margin: 0.5rem
}
.m-2 {
    margin: 1rem
}
.m-3 {
    margin: 1.5rem
}
.m-4 {
    margin: 2rem
}
.m-5 {
    margin: 2.5rem
}